*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f8fa;
}

nav {
  display: flex;
  justify-content: space-between;
  padding-block-start: 28px;
  padding-inline: 40px;
  width: 100%;
}

ul li {
  display: inline;
  padding: 2px;
}

.container {
  display: flex;
  margin-inline-start: 262px;
  margin-inline-end: 186px;
  background: #ffffff;
}

.checkoutform {
  width: 66%;
}

.pricinginfo {
  width: 33%;
  background: #1179bf;
  padding-inline: 50px;
  margin-inline-start: 42px;
}

.flexdivs {
  display: flex;
  /* justify-content: space-between; */
}

.section {
  margin-bottom: 120px;
}

button[type="submit"] {
  width: 100%;
  background-color: #038e7d;

  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}
